<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span
        class="x193iq5w xeuugli x13faqbe x1vvkbs x1xmvt09 x1lliihq x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x xudqn12 x3x7a5m x6prxxf xvq8zen xo1l8bm x17z8epw"
        dir="auto">
        <div class="xdj266r x11i5rnm xat24cr x1mh8g0r x1vvkbs x126k92a">⬇️⬇️La mente subconsciente es una herramienta
            muy poderosa que absorbe todo lo que sucede a nuestro alrededor y a nosotros mismos.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">Tu realidad está hecha de pensamientos,
            sentimientos y percepciones de tu subconsciente más profundo.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">Cosas que deberías dejar de hacer
            inmediatamente:</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 No te molestes en alimentar ese pensamiento
            negativo. Detenlo ahí mismo y cámbialo por un pensamiento feliz y positivo. Sí, ya sé que es difícil pero se
            puede, con práctica y paciencia.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 Deja de permitir que la negatividad dirija tu
            sistema operativo. Asume buena intención en el resto. A veces no es posible. Entonces relájate. Si vienen
            pensamientos negativos, déjalos.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 Nunca empieces tus días con el pie izquierdo.
            Mírate las manos cada mañana y dite a ti mismo: Estas manos van a hacer un trabajo increíble.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 Deja de hacerte el pequeño. Eres la
            conciencia Universal empujada hacia fuera. Piensa en grande. Sueña más grande que la vida. Interioriza que
            centrarse en un objetivo que tiene una buena intención es lo mejor. Te dará un sentido de propósito, fuerza
            para superar desafíos y elevar tu mente de los pequeños problemas de la vida.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 No te sientas culpable, malo o indigno por tu
            pasado. Eso es energéticamente muy agotador. Suéltalo, lo has intentado lo mejor que has podido.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">🔗 Lo que te cuentas a ti mismo es un reflejo de
            la imagen que tiene la mente de ti. Es tan real como la que te imaginas de mi ahora mismo. Puedes mordearla
            a tu gusto. No te limites por lo que te diga tu mente.</div>
        <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">Y como dar y compartir son mis dos muestras de
            amor favoritas, comparte este reel con esa persona especial. Te lo agradecerá ❤️ <div
                class="x1i10hfl xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x1sur9pj xkrqix3 xzsf02u x1s688f"
                role="button" tabindex="0">Ver menos</div>
        </div>
    </span>
</body>

</html>
